<div class="app__title">
    <h1>
        <i class="fa-sharp fa-solid fa-book-open-reader"></i>
        <span>StoryBooks</span>
    </h1>
</div>
<p>Create a public and private stories from your life</p>
<div class="divider"></div>
<div class="app__login-btn">
    <a href="/auth/google" class="red white-text">
        <i class="fa-brands fa-google"></i>
        <span>log in with google</span>
    </a>
</div>